name: Deploy docs to Huawei OBS

on:
  push:
    branches: [main]
    paths:
      - 'packages/opentiny-docs/**'

  workflow_dispatch:

env:
  # 在 GitHub 项目源码仓库 → 项目的 Settings → Secrets(Actions 里的 Repository secrets) 里提前建好以下变量
  HUAWEI_CLOUD_AK: ${{ secrets.HUAWEI_CLOUD_AK }}
  HUAWEI_CLOUD_SK: ${{ secrets.HUAWEI_CLOUD_SK }}
  HUAWEI_CLOUD_ENDPOINT: ${{ secrets.HUAWEI_CLOUD_ENDPOINT }}
  HUAWEI_CLOUD_BUCKET: ${{ secrets.HUAWEI_CLOUD_BUCKET }}

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 9
      - name: Install deps
        run: pnpm i
      - name: Get docs version
        run: |
          echo "VERSION=$(node -p "require('./packages/opentiny-docs/package.json').version")" >> $GITHUB_ENV
      - name: Build docs
        run: pnpm -F opentiny-docs build
        env:
          VITE_BASE: //opentiny-assets.obs.cn-north-4.myhuaweicloud.com/tiny-openTiny-docs/${{ env.VERSION }}/tiny-openTiny-docs/
      - name: Copy files
        run: |
          cp packages/opentiny-docs/dist/openTiny-docs/index.html packages/opentiny-docs/dist/openTiny-docs/404.html
          ls packages/opentiny-docs/dist/openTiny-docs/
      # ===== 下载 obsutil =====
      - name: Install obsutil
        run: |
          curl -o obsutil.tar.gz https://obs-community.obs.cn-north-1.myhuaweicloud.com/obsutil/current/obsutil_linux_amd64.tar.gz
          tar -xzf obsutil.tar.gz
          chmod +x obsutil_linux_amd64_*/obsutil
          sudo mv obsutil_linux_amd64_*/obsutil /usr/local/bin/obsutil

      # ===== 配置并上传 =====
      - name: Upload to OBS
        run: |
          # 一次性配置 AK/SK/endpoint
          obsutil config -i=${{ env.HUAWEI_CLOUD_AK }} \
                         -k=${{ env.HUAWEI_CLOUD_SK }} \
                         -e=${{ env.HUAWEI_CLOUD_ENDPOINT }}

          # 把本地 dist/ 目录整站同步到桶根目录
          mv packages/opentiny-docs/dist ${{ env.VERSION }}
          obsutil cp ${{ env.VERSION }} obs://${{ env.HUAWEI_CLOUD_BUCKET }}/tiny-openTiny-docs/ -r -f
