name: Auto Deploy

on:
  push:
    branches: [ main ]

  workflow_dispatch: {}

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 9
      - name: Install deps
        run: pnpm i
      - name: Build common
        run: pnpm build:common
      - name: Get home version
        run: echo "VERSION=$(node -p \"require('./package.json').version\")" >> $GITHUB_ENV
      - name: Build home
        run: pnpm build
        env:
          VITE_CONTEXT: /opentiny.design/
          VITE_BASE: /opentiny.design/
      - name: Copy files
        run: |
          cp dist/${{ env.VERSION }}/common/tinyui-design-common.iife.js dist/${{ env.VERSION }}/home
      - name: Setup Pages
        uses: actions/configure-pages@v2
      - name: Build with Jekyll
        uses: actions/jekyll-build-pages@v1`
        with:
          source: ./dist/${{ env.VERSION }}/home
          destination: ./_site
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
